#passwordContainer {
    justify-content: start;
    align-items: start;
    background-color: transparent;
    border-radius: 10px;
    
    #password {
        width: 100%;
        padding: 1em 2em;
        word-wrap: break-word;
        border-radius: 10px;

        .pass_thick {
            display: inline;
        }
    }
}

@media screen and ( min-width: $sm ){
    #passwordContainer {
        justify-content: center;
        align-items: center;
        background-color: white;

        #password {
            padding: inherit;
            background-color: transparent;

            .pass_thick {
                display: block;
            }
        }
    }
}